variables:
  SONAR_URL: "http://95.216.227.222:9070"
  SONAR_LOGIN: "admin"
  SONAR_PASSWORD: "admin"

sonarqube_master_job:
  stage: test
  only:
    - master
  script:
    - gradle sonarqube -Dsonar.host.url=$SONAR_URL -Dsonar.login=$SONAR_LOGIN 
    -Dsonar.password=$SONAR_PASSWORD -Dsonar.verbose=true